<a href="https://colab.research.google.com/github/kuldeep27396/Real_News/blob/master/Real_News.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
pip install numpy pandas sklearn

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.3)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [0]:
# Loading the dataset 
# https://drive.google.com/open?id=195zV2cC_PlZCgqV3Za0Z9w5O3oP2h3Qb

In [10]:
ls

news.csv

In [0]:
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [12]:
#Read the data
df=pd.read_csv('news.csv')
#Get shape and head
df.shape
df.head(20)

    Unnamed: 0  ... label
0         8476  ...  FAKE
1        10294  ...  FAKE
2         3608  ...  REAL
3        10142  ...  FAKE
4          875  ...  REAL
5         6903  ...  FAKE
6         7341  ...  FAKE
7           95  ...  REAL
8         4869  ...  REAL
9         2909  ...  REAL
10        1357  ...  REAL
11         988  ...  REAL
12        7041  ...  FAKE
13        7623  ...  FAKE
14        1571  ...  REAL
15        4739  ...  REAL
16        7737  ...  FAKE
17        8716  ...  FAKE
18        3304  ...  REAL
19        3078  ...  REAL

[20 rows x 4 columns]

In [13]:
#DataFlair - Get the labels
labels=df.label
labels.head(20)

0     FAKE
1     FAKE
2     REAL
3     FAKE
4     REAL
5     FAKE
6     FAKE
7     REAL
8     REAL
9     REAL
10    REAL
11    REAL
12    FAKE
13    FAKE
14    REAL
15    REAL
16    FAKE
17    FAKE
18    REAL
19    REAL
Name: label, dtype: object

In [0]:
#Split the dataset
x_train,x_test,y_train,y_test=train_test_split(df['text'], labels, test_size=0.2, random_state=7)

In [0]:
#Initialize a TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.5)
#Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(x_train) 
tfidf_test=tfidf_vectorizer.transform(x_test)

In [16]:
#Initialize a PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train,y_train)
#Predict on the test set and calculate accuracy
y_pred=pac.predict(tfidf_test)
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 93.21%

In [22]:
#Build confusion matrix
x =confusion_matrix(y_test,y_pred, labels=['FAKE','REAL'])
print(x)
print("True Positives:", x[0][0])
print("True Negatives:", x[1][1])
print("False Positiive:", x[0][1])
print("False Negatives:", x[1][0])

[[592  46]
 [ 40 589]]
True Positives: 592
True Negatives: 589
False Positiive: 46
False Negatives: 40